body {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url('assets/SAC-Health-Sciences-exterior-1-1.jpg');
    background-attachment: fixed;
}

form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input, select, textarea, #FormPage input[type=text]:read-only, #FormPage textarea:read-only {
    border-radius: 4px;
}