body {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(to bottom right, #ffb600, #e31837); */
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-cute-cats-collection-cartoon-illustration_56104-456.jpg?w=996&t=st=1701971561~exp=1701972161~hmac=b808b09b9b70d62ec509a23221f45260ae704a14712be86f8469b19f2443a0c3');
}

form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input, select {
    border-radius: 5px;
}